<app-header></app-header>
<h1 class="text-center" >Welcome To Studylink</h1>
<div class="container">
  <div class="container">
    <div class="row text-center text-muted">
      <h3>Embark on your educational journey with Studylink. </h3>
      <h6>From exam preparation to academic enrichment, we provide the essential support to excel and thrive</h6>
    </div>
    <hr/>
    <div class="row text-center">
      <div class="col-md-4">
        <img src="assets/lecture.png" width="100" class="d-inline-block align-center" alt="">
        <h4 class="my-3">Lectures</h4>
        <p class="text-muted">Professors can upload their lectures directly to our website.</p>
      </div>
      <div class="col-md-4">
        <img src="assets/quizzes.png" width="100" class="d-inline-block align-center" alt="">
        <h4 class="my-3">Quizzes</h4>
        <p class="text-muted">Students can take quizzes created by professors to enhance their understanding of the lectures.</p>
      </div>
      <div class="col-md-4">
        <img src="assets/exam.png" width="100" class="d-inline-block align-center" alt="">
        <h4 class="my-3">Mock Exams</h4>
        <p class="text-muted">Discover our platform's unique advantage with AI-generated mock exams, meticulously crafted to simulate real exam scenarios.</p>
      </div>
    </div>
  </div>
</div>

